.box{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    background-color: #FFF;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.form{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: flex-start;
}
.login{
    font-size: 30px;
    color: cornsilk;
    font-weight: 600;
    align-items: center;
}
.layout {
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
}
.button{
    margin: 20px;
}
.haeder{
    /* background-color: crimson; */
    border-bottom: 1px solid;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.btnLogout{
    display: flex;
}
.line{
    border: 1px solid;
    margin: 5px;
}
.btnAdd{
    display: flex;
    justify-content: flex-start;
    margin:20px;
}
.btn {
    margin: 10px;
  
}
.btnCancel{
    color: #fff;
}
.btnSave{
    margin: 10px;
    padding: 0px 25
    px;
}
.name{
    display: flex;
    margin: 20px;
}
.required{
    color: red;
    /* padding-right: 20px; */
    /* margin-right: 60px; */
    
}
.check{
    margin: 4px 10px 0px 10px;
}
.btnOpertion{
    display: flex;
}
p{
    margin: 0px 5px;
}
.btnAdd{
    display: flex;
    justify-content: flex-start;
}
.select{
    width: 30%;
}

input[type=text],[type=email],[type=password],select{
    width: 100%;
}
.role{
    padding-right: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
